.vis-container {
  width: 100%;
}

.page {
  width: 1024px;
  background-color: rgba(238, 226, 226, 0.5);
  margin: auto;
  padding: 50px;
  padding-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

.hr3 {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #DDD, transparent);
  padding-top: 5px;
}

body{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/image/bg-body1.jpg');
  /* background-attachment: fixed; */
  background-size:cover;
  background-position: center;
}

.header{
  background-image: url('/image/bg1.jpg');
  background-size: cover;


  padding: 100px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
  
}

